<div class="container page">

  <form action="/post" method="POST">
    <input type='hidden' name='_csrf' value='<%= _csrf %>'>
    <div class="form-group">
      <label for="title">Key</label>
      <input type="text" name="title" class="form-control"/>
    </div>

    <div class="form-group">
      <label for="solution">Solution</label>
      <textarea id="solution" name="solution" rows="8" class="form-control" placeholder="Support MarkDown Syntax..."></textarea>
    </div>
    <input type="submit" name="commit" class="btn btn-primary"/>
    <a class="btn btn-medium btn-primary" href="/post/index">Back Home</a>

  </form>
</div>

<script>
  $(document).ready ( function() {
    var simplemde = new SimpleMDE({ element: document.getElementById("solution") });
  });
</script>
