<div class='container page'>
	<h1>Q: <%= post.title %> </h1>
	<h3>A: <%= post.solution %> </h3>
  <hr>
  <h3>Date: <%= post.createdAt.toLocaleDateString("en-US") %> </h3>
  <a class="btn btn-medium btn-primary" href="/post/index">Home</a>
	<a class="btn btn-medium btn-primary" href="/post/edit/<%= post.id %>">Edit</a>

</div>
